Source: radxa-desktop-branding
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian

Package: radxa-desktop-branding
Architecture: all
Section: admin
Priority: standard
Description: Branding for the desktop image.
 This package has wallpapers, logos.
